

.login-wrapper{
    display: flex;
    justify-content: center;
}

.login-user{
    width: 300px;
}

.input{
    width: 100%;
    padding: 5px 10px;
}

.login-btn{
    width: 325px;
    text-align: center;
    padding: 5px 10px;
    margin-top: 10px;
}

@media only screen and (max-width: 768px) {
    /* .login-user{
        width: 100%;
    }
    .login-btn{
        width: 106%;
    } */
}